[run]
source = .
omit =
    */migrations/*
    */tests.py
    */apps.py
    */admin.py
    *__init__.py
    manage.py
    */wsgi.py
    */asgi.py
    */management/commands/*

[html]
directory = htmlcov